*{
  box-sizing: border-box;
}
body {
  font-family: 'Advent Pro', sans-serif !important;
}
header{
  padding: 15px;
  margin-bottom: 15px;
}
.banner{
  height: 480px;
  width: 100%;
}
section{
  margin: 40px 0px;
}
.get-in-touch{
  background-color: #E8E8E8;
  padding: 48px;
}